.contactContainer {
  background-color: var(--text);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact {
  padding-right: 8rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
}

.contactTitle {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 3rem;
  color: var(--background);
}

.contactText {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
  line-height: 1.1;
  color: var(--background);
  max-width: 900px;
}

.contactButton {
  display: flex;
}

.contactButtonText {
  border: 1px solid var(--background);
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  transition: all 0.4s ease;
  color: var(--background);
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: center;
  will-change: transform;
}

.contactButtonIcon {
  display: inline;
  transition: transform 0.4s ease;
  margin-left: 0.5rem;
}

.contactButtonText:hover .contactButtonIcon {
  transform: translateX(10px);
}

.contactButtonText:hover {
  background-color: var(--background);
  color: var(--text);
}

.contactImageContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.contactImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
