.contact {
  padding: 13rem 10rem;
  padding-top: 0rem;
}

.contactTitle {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 3rem;
  color: var(--light-blue);
}

.contactText {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 4rem;
}

.contactButton {
  display: flex;
}

.contactButtonText {
  border: 1px solid var(--light-blue);
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  transition: all 0.4s ease;
  color: var(--light-blue);
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: center;
  will-change: transform;
}

.contactButtonIcon {
  display: inline;
  transition: transform 0.4s ease;
  margin-left: 0.5rem;
}

.contactButtonText:hover .contactButtonIcon {
  transform: translateX(10px);
}

.contactButtonText:hover {
  background-color: var(--light-blue);
  color: var(--background);
}
