.services {
  padding: 15rem 25rem;
  padding-bottom: 5rem;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 3rem;
  color: var(--light-blue);
}

.servicesSubtitle {
  font-size: 6rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.servicesButton {
  margin-top: 5rem;
  display: flex;
}

.servicesButtonText {
  border: 2px solid var(--light-blue);
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: 400;
  transition: all 0.4s ease;
  color: var(--light-blue);
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: center;
  max-width: 800px;
}

.servicesButtonIcon {
  display: inline;
  transition: transform 0.4s ease;
  margin-left: 0.5rem;
}

.servicesButtonText:hover .servicesButtonIcon {
  transform: translateX(10px);
}

.servicesButtonText:hover {
  background-color: var(--light-blue);
  color: var(--background);
}

.servicesCards {
  gap: 6rem;
  border-radius: 1rem;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.servicesCard {
  transition: all 0.4s cubic-bezier(0.555, 0.885, 0.32, 1.275);
  padding: 3rem;
  border-radius: 1rem;
  border: 2px solid var(--light-blue);
  height: 100%;
  height: fit-content;
}

.servicesCard:hover {
  transform: translateY(-10px);
  background-color: var(--light-blue);
}

.servicesCard:hover .cardTitle {
  color: var(--background);
}

.servicesCard:hover .cardText,
.servicesCard:hover .cardIcon {
  color: var(--background);
}

.cardIcon {
  color: var(--light-blue);
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
}

.cardTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardTitle {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: var(--text);
  line-height: 1;
}

.cardText {
  color: var(--light-blue);
  font-size: 1.7rem;
}

.cardTitleContainer[data-open="true"] .cardIcon {
  transform: rotate(45deg);
}

@media (max-width: 3200px) {
  .services {
    padding: 15rem 20rem;
    padding-bottom: 0;
  }

  .cardText {
    color: var(--light-blue);
    font-size: 1.6rem;
  }

  .servicesCards {
    gap: 5rem;
  }
}

@media (max-width: 2560px) {
  .services {
    padding: 12rem 15rem;
    padding-bottom: 0;
  }

  .servicesSubtitle {
    font-size: 5rem;
  }

  .cardText {
    color: var(--light-blue);
    font-size: 1.5rem;
  }

  .cardTitle {
    font-size: 3rem;
  }

  .cardIcon {
    font-size: 5rem;
  }
}

@media (max-width: 2310px) {
  .services {
    padding: 12rem 12rem;
    padding-bottom: 0;
  }

  .servicesCards {
    gap: 4rem;
  }

  .servicesCard {
    padding: 2.5rem;
  }

  .cardTitle {
    font-size: 2.5rem;
  }
}

@media (max-width: 2240px) {
}

@media (max-width: 1920px) {
  .services {
    padding: 10rem 10rem;
    padding-bottom: 0;
  }

  .servicesSubtitle {
    font-size: 4rem;
  }

  .servicesCards {
    gap: 3rem;
  }

  .cardTitle {
    font-size: 2.5rem;
  }

  .cardText {
    font-size: 1.5rem;
  }

  /* .servicesButton {
    margin-top: 3rem;
  } */
}

@media (max-width: 1680px) {
  .title {
    font-size: 1.3rem;
  }

  .servicesSubtitle {
    font-size: 3.5rem;
  }

  .servicesButton {
    margin-top: 4rem;
  }
}

@media (max-width: 1600px) {
  .services {
    padding: 10rem 5rem;
    padding-bottom: 0;
  }

  .title {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .servicesButton {
    margin-top: 3rem;
  }

  .servicesButtonText {
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: 1.3rem;
  }

  .servicesCards {
    gap: 2rem;
  }

  .servicesCard {
    padding: 1.8rem;
  }

  .cardTitle {
    margin-bottom: 1.5rem;
  }

  .cardText {
    font-size: 1.2rem;
  }

  .cardIcon {
    font-size: 4rem;
  }

  .cardTitle {
    font-size: 2rem;
  }
}

@media (max-width: 1540px) {
}

@media (max-width: 1440px) {
  .services {
    padding: 7rem 5rem;
    padding-bottom: 0;
  }

  .title {
    font-size: 1.2rem;
  }

  .servicesSubtitle {
    font-size: 2.9rem;
  }

  .servicesButton {
    margin-top: 3.5rem;
  }

  .servicesButtonText {
    font-size: 1.1rem;
  }

  .servicesCards {
    gap: 1.5rem;
  }

  .cardTitle {
    font-size: 1.8rem;
  }

  .cardText {
    font-size: 1.1rem;
  }
}

@media (max-width: 1370px) {
}

@media (max-width: 1280px) {
  .servicesSubtitle {
    font-size: 2.8rem;
    margin-bottom: 2.5rem;
  }

  .servicesCards {
    gap: 1rem;
  }

  .cardIcon {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
  }

  .cardText {
    font-size: 1rem;
  }

  .cardTitle {
    font-size: 1.5rem;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 900px) {
  .services {
    gap: 2.5rem;
  }

  .servicesCards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    margin-bottom: 0rem;
  }

  .servicesTitle {
    width: 100%;
  }

  .services {
    flex-direction: column;
    padding: 8rem 5rem;
  }

  .title {
    font-size: 1.4rem;
    padding-bottom: 2.5rem;
  }

  .servicesSubtitle {
    font-size: 3.5rem;
  }

  .servicesTitleLine,
  .cardTextShown {
    font-size: 1.2rem;
  }

  .servicesButton {
    margin-top: 2rem;
  }

  .servicesButtonText {
    font-size: 1.3rem;
  }

  .servicesButtonText:hover {
    background-color: var(--background);
    color: var(--light-blue);
  }

  .servicesButtonText:active {
    background-color: var(--light-blue);
    color: var(--background);
  }

  .servicesCard {
    padding: 2rem;
  }

  .cardTitle {
    font-size: 2rem;
    font-weight: 500;
  }

  .cardText {
    font-size: 1.3rem;
  }

  .cardIcon {
    font-size: 5rem;
  }

  .mobileServicesButton {
    width: 100%;
  }

  .servicesButtonText {
    width: 100%;
    font-size: 1.5rem;
  }

  .servicesCard:hover {
    transform: translateY(0);
    background-color: var(--background);
  }

  .servicesCard:hover .cardText,
  .servicesCard:hover .cardIcon {
    color: var(--light-blue);
  }

  .servicesCard:hover .cardTitle {
    color: var(--white);
  }
}

@media (max-width: 800px) {
  .services {
    padding: 7rem 5rem;
  }
}

@media (max-width: 768px) {
  .services {
    padding: 7rem 4rem;
  }
}

@media (max-width: 610px) {
  .services {
    padding: 6rem 3rem;
    gap: 2rem;
  }

  .title {
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
  }

  .servicesSubtitle {
    font-size: 2.5rem;
  }

  .servicesTitleLine {
    font-size: 1.1rem;
  }

  .servicesCard {
    padding: 2rem 0;
  }

  .cardTitle {
    font-size: 1.4rem;
    font-weight: 500;
  }

  .mobileServicesButton {
    margin-top: 2rem;
  }

  .servicesButtonText {
    font-size: 1.3rem;
  }
}

@media (max-width: 485px) {
  .services {
    padding: 5rem 2rem;
  }

  .title {
    font-size: 1.2rem;
  }

  .servicesSubtitle {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .servicesTitleLine {
    font-size: 1.1rem;
  }

  .servicesButton {
    margin-top: 1rem;
  }

  .servicesButtonText {
    font-size: 1.3rem;
  }

  .servicesCard {
    padding: 1.5rem;
  }

  .cardTitle {
    font-size: 1.8rem;
  }

  .cardText {
    font-size: 1.2rem;
  }

  .cardIcon {
    font-size: 4rem;
  }

  .servicesButtonText {
    border: none;
    padding: 0;
    text-decoration: underline;
    font-weight: 400;
    transition: all 0.4s ease;
    color: var(--light-blue);
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: center;
    max-width: 800px;
  }
}

@media (max-width: 460px) {
  .servicesSubtitle {
    font-size: 2.8rem;
  }

  .servicesTitleLine {
    font-size: 1.1rem;
  }

  .servicesButton {
    margin-top: 1rem;
    width: 100%;
  }

  .servicesButtonText {
    font-size: 1.3rem;
  }
}

@media (max-width: 440px) {
  .servicesSubtitle {
    font-size: 2.5rem;
  }

  .cardTitle {
    font-size: 1.7rem;
    font-weight: 500;
  }

  .cardTextShown {
    font-size: 1rem;
  }
  .servicesButton {
    margin-top: 1rem;
  }
}

@media (max-width: 415px) {
  .servicesButtonText {
    font-size: 1.1rem;
  }

  .cardTitle {
    font-size: 1.6rem;
    font-weight: 500;
  }

  .servicesCard {
    padding: 1.5rem;
  }

  .servicesButtonText {
    font-size: 1rem;
  }
}

@media (max-width: 405px) {
  .servicesSubtitle {
    font-size: 2.3rem;
  }
}

@media (max-width: 395px) {
  .servicesSubtitle {
    font-size: 2.2rem;
  }

  .cardTitle {
    font-size: 1.5rem;
  }

  .cardText {
    font-size: 1.1rem;
  }

  .cardIcon {
    font-size: 3.5rem;
  }
}

@media (max-width: 376px) {
  .servicesSubtitle {
    font-size: 2.2rem;
  }

  .servicesTitleLine {
    font-size: 1rem;
  }

  .cardTitle {
    font-size: 1.4rem;
  }

  .cardTextShown {
    font-size: 0.9rem;
  }

  .servicesButton {
    margin-top: 0.5rem;
  }

  .servicesButtonText {
    font-size: 1rem;
  }
}

@media (max-width: 360px) {
  .servicesSubtitle {
    font-size: 2rem;
  }

  .cardTitle {
    font-size: 1.3rem;
  }

  .cardText {
    font-size: 1rem;
  }

  .cardIcon {
    font-size: 3rem;
  }

  .servicesButtonText {
    font-size: 0.9rem;
  }
}

@media (max-width: 325px) {
  .services {
    padding: 5rem 1rem;
    gap: 2rem;
  }

  .servicesSubtitle {
    font-size: 1.8rem;
  }

  .cardTitle {
    font-size: 1.2rem;
  }

  .servicesTitleLine {
    font-size: 0.8rem;
  }

  .servicesButtonText {
    font-size: 0.8rem;
  }

  .cardTextShown {
    font-size: 0.8rem;
    padding-top: 0.5rem;
  }
}

@media (max-width: 1200px) and (min-height: 1920px),
  (max-width: 1024px) and (min-height: 1366px) {
  .services {
    flex-direction: column;
    padding: 10rem 5rem;
  }

  .servicesTitle {
    width: 100%;
  }

  .title {
    font-size: 1.5rem;
    padding-bottom: 3rem;
  }

  .servicesTitleLine {
    font-size: 1.4rem;
  }

  .servicesCards {
    display: flex;
    flex-direction: column;
  }

  .servicesCard:hover {
    transform: translateY(0);
    background-color: var(--background);
  }

  .servicesCard:hover .cardText,
  .servicesCard:hover .cardIcon {
    color: var(--light-blue);
  }

  .servicesCard:hover .cardTitle {
    color: var(--white);
  }

  .servicesButton {
    margin-top: 4rem;
  }

  .servicesButtonText {
    font-size: 1.8rem;
  }

  .servicesCard {
    padding: 2rem;
  }

  .cardTitle {
    font-size: 2rem;
  }

  .cardText {
    font-size: 1.5rem;
  }

  .cardIcon {
    font-size: 4rem;
  }
}

@media (max-width: 1200px) and (min-height: 1920px) {
  .servicesSubtitle {
    font-size: 5.5rem;
  }
}

@media (max-width: 1024px) and (min-height: 1366px) {
  .servicesSubtitle {
    font-size: 4.5rem;
  }
}
