.services {
  padding: 16rem 10rem;
  background-color: var(--background);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}

.servicesTitle {
  width: 45%;
}

.title {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 3rem;
  color: var(--light-blue);
}

.servicesSubtitle {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.servicesTitleLine {
  font-size: 1.2rem;
  font-weight: 300;
}

.servicesButton {
  margin-top: 5rem;
  display: flex;
}

.servicesButtonText {
  border: 1px solid var(--light-blue);
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  transition: all 0.4s ease;
  color: var(--light-blue);
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: center;
}

.servicesButtonIcon {
  display: inline;
  transition: transform 0.4s ease;
  margin-left: 0.5rem;
}

.servicesButtonText:hover .servicesButtonIcon {
  transform: translateX(10px);
}

.servicesButtonText:hover {
  background-color: var(--light-blue);
  color: var(--background);
}

.servicesCards {
  gap: 3rem;
  padding: 3rem;
  border: 1px solid;
  width: 55%;
  border-radius: 1rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.servicesCard {
  transition: all 0.4s cubic-bezier(0.555, 0.885, 0.32, 1.275);
  border-bottom: 1px solid var(--text);
  padding-bottom: 2rem;
}

.cardTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardTitle,
.cardIcon {
  font-size: 1.4rem;
}

.cardTitle {
  line-height: 1.2;
  font-weight: 400;
}

.cardTextHidden,
.cardTextShown {
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
}

.cardTextHidden {
  max-height: 0;
  transform: translateY(-100%);
  margin: 0;
  opacity: 0;
}

.cardTextShown {
  max-height: 500px; /* Adjust this based on your content */
  opacity: 1;
  transform: translateY(0);
  padding-top: 1rem;
}

.cardText {
  overflow: hidden;
}

.cardIcon {
  transition: transform 0.4s cubic-bezier(0.555, 0.885, 0.32, 1.275);
}

.cardTitleContainer[data-open="true"] .cardIcon {
  transform: rotate(45deg);
}

@media (max-width: 1920px) {
  .servicesSubtitle {
    font-size: 3.5rem;
  }

  .servicesTitleLine {
    font-size: 1.1rem;
  }

  .servicesButton {
    margin-top: 4rem;
  }

  .cardTitle,
  .cardIcon {
    font-size: 1.3rem;
  }

  .cardTextShown {
    font-size: 1rem;
  }
}

@media (max-width: 1680px) {
  .servicesTitle {
    width: 50%;
  }

  .servicesCards {
    padding: 2.5rem;
    width: 50%;
  }

  .title {
    font-size: 1.3rem;
  }

  .servicesSubtitle {
    font-size: 3rem;
  }

  .servicesTitleLine {
    font-size: 1rem;
  }

  .servicesButton {
    margin-top: 4rem;
  }

  .cardTitle,
  .cardIcon {
    font-size: 1.3rem;
  }

  .cardTextShown {
    font-size: 1rem;
  }
}

@media (max-width: 1600px) {
  .services {
    padding: 10rem 8rem;
    gap: 6rem;
  }

  .title {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .servicesSubtitle {
    font-size: 2.8rem;
  }

  .cardTitle,
  .cardIcon {
    font-size: 1.1rem;
  }

  .servicesButton {
    margin-top: 3rem;
  }

  .servicesButtonText {
    border: 1px solid var(--light-blue);
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: 1.1rem;
  }
}

@media (max-width: 1540px) {
}

@media (max-width: 1440px) {
  .title {
    font-size: 1.2rem;
  }

  .servicesSubtitle {
    font-size: 2.7rem;
  }

  .servicesButton {
    margin-top: 3.5rem;
  }

  .servicesButtonText {
    font-size: 1.1rem;
  }

  .cardTitle,
  .cardIcon {
    font-size: 1.2rem;
  }

  .cardTextShown {
    font-size: 0.9rem;
  }
}

@media (max-width: 1370px) {
}

@media (max-width: 1280px) {
  .services {
    gap: 4rem;
  }
  .servicesSubtitle {
    font-size: 2.5rem;
  }

  .cardTitle,
  .cardIcon {
    font-size: 1.1rem;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 900px) {
  .services {
    flex-direction: column;
    gap: 2.5rem;
  }

  .servicesCards {
    display: block;
    width: 100%;
  }

  .servicesTitle {
    width: 100%;
  }

  .services {
    flex-direction: column;
    padding: 8rem 5rem;
  }

  .title {
    font-size: 1.4rem;
    padding-bottom: 2.5rem;
  }

  .servicesSubtitle {
    font-size: 3.5rem;
  }

  .servicesTitleLine,
  .cardTextShown {
    font-size: 1.2rem;
  }

  .servicesButton {
    margin-top: 5rem;
  }

  .servicesButtonText {
    font-size: 1.3rem;
  }

  .servicesButtonText:hover {
    background-color: var(--background);
    color: var(--light-blue);
  }

  .servicesButtonText:active {
    background-color: var(--light-blue);
    color: var(--background);
  }

  .servicesCards {
    gap: 0;
    padding: 0;
    width: 100%;
    border: none;
  }

  .servicesCard {
    padding: 2rem 0;
  }

  .cardTitle,
  .cardIcon {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .mobileServicesButton {
    margin-top: 2rem;
    width: 100%;
  }

  .servicesButtonText {
    width: 100%;
    font-size: 1.5rem;
  }
}

@media (max-width: 800px) {
  .services {
    padding: 7rem 5rem;
  }
}

@media (max-width: 768px) {
  .services {
    padding: 7rem 4rem;
  }
}

@media (max-width: 610px) {
  .services {
    padding: 6rem 3rem;
    gap: 2rem;
  }

  .title {
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
  }

  .servicesSubtitle {
    font-size: 2.5rem;
  }

  .servicesTitleLine {
    font-size: 1.1rem;
  }

  .servicesCard {
    padding: 2rem 0;
  }

  .cardTitle,
  .cardIcon {
    font-size: 1.4rem;
    font-weight: 500;
  }

  .mobileServicesButton {
    margin-top: 2rem;
  }

  .servicesButtonText {
    font-size: 1.3rem;
  }
}

@media (max-width: 485px) {
  .services {
    padding: 5rem 2rem;
  }
}

@media (max-width: 460px) {
  .servicesSubtitle {
    font-size: 2.5rem;
  }

  .servicesTitleLine {
    font-size: 1.1rem;
  }

  .servicesButton {
    margin-top: 2rem;
    width: 100%;
  }

  .servicesButtonText {
    font-size: 1.3rem;
  }
}

@media (max-width: 435px) {
  .cardTitle,
  .cardIcon {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .cardTextShown {
    font-size: 1rem;
  }
  .servicesButton {
    margin-top: 1rem;
  }
}

@media (max-width: 415px) {
  .servicesButtonText {
    font-size: 1.1rem;
  }

  .cardTitle,
  .cardIcon {
    font-size: 1.1rem;
    font-weight: 500;
  }

  .servicesCard {
    padding: 1.5rem 0;
  }
}

@media (max-width: 376px) {
  .servicesSubtitle {
    font-size: 2.2rem;
  }

  .servicesTitleLine {
    font-size: 1rem;
  }

  .cardTitle,
  .cardIcon {
    font-size: 1rem;
  }

  .cardTextShown {
    font-size: 0.9rem;
  }

  .servicesButton {
    margin-top: 0.5rem;
  }

  .servicesButtonText {
    font-size: 1rem;
  }

  .servicesCard {
    padding: 1rem 0;
  }
}

@media (max-width: 360px) {
  .servicesSubtitle {
    font-size: 2rem;
  }

  .servicesTitleLine {
    font-size: 0.9rem;
  }

  .cardTitle,
  .cardIcon {
    font-size: 0.9rem;
  }

  .servicesButtonText {
    font-size: 0.9rem;
    padding: 1rem 0rem;
  }
}

@media (max-width: 325px) {
  .services {
    padding: 5rem 1rem;
    gap: 2rem;
  }

  .servicesSubtitle {
    font-size: 1.8rem;
  }

  .cardTitle,
  .cardIcon {
    font-size: 0.9rem;
  }

  .servicesTitleLine {
    font-size: 0.8rem;
  }

  .servicesButtonText {
    font-size: 0.8rem;
  }

  .cardTextShown {
    font-size: 0.8rem;
    padding-top: 0.5rem;
  }
}

@media (max-width: 1200px) and (min-height: 1920px),
  (max-width: 1024px) and (min-height: 1366px) {
  .services {
    flex-direction: column;
    padding: 10rem 5rem;
  }

  .servicesTitle {
    width: 100%;
  }

  .title {
    font-size: 1.5rem;
    padding-bottom: 3rem;
  }

  .servicesTitleLine {
    font-size: 1.4rem;
  }

  .servicesCards {
    display: none;
  }

  .servicesButton {
    margin-top: 5rem;
  }

  .servicesButtonText {
    font-size: 1.3rem;
  }
}

@media (max-width: 1200px) and (min-height: 1920px) {
  .servicesSubtitle {
    font-size: 5.5rem;
  }
}

@media (max-width: 1024px) and (min-height: 1366px) {
  .servicesSubtitle {
    font-size: 4.5rem;
  }
}
