.solutions {
  padding: 15rem 25rem;
  padding-bottom: 0rem;
  overflow: hidden;
  position: relative;
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.solutions::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 700px;
  background: radial-gradient(
    circle at center,
    var(--blue) 0%,
    var(--light-blue) 25%,
    transparent 70%
  );
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.4;
  z-index: -1;
  animation: pulse 10s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.solutionsTitle {
  font-size: 1.5rem;
  margin-bottom: 4rem;
  font-weight: 800;
  line-height: 1.1;
  color: var(--background);
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  background: var(--light-blue);
}

.solutionsText {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 2;
  width: 100%;
}

.solutionsTextContainer {
  text-align: right;
  width: 35%;
  position: relative;
  z-index: 2;
  padding-right: 2rem;
}

.solutionsSubtitle {
  font-size: 7rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  text-align: right;
  line-height: 1;
}

.solutionsDescription {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--text);
  margin-left: auto;
}

.solutionsImageLaptop {
  position: absolute;
  bottom: -20%;
  left: 10%;
  transform: translateX(-30%);
  z-index: 1;
  will-change: transform;
  width: 80%;
  max-width: 1700px;
  height: 100%;
  object-fit: contain;
}

.imageLaptop {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.solutionsImagePhone {
  position: absolute;
  bottom: -10%;
  left: 45%;
  transform: translateY(20%);
  z-index: 2;
  will-change: transform;
  width: 25%;
  max-width: 450px;
}

@media (max-width: 3200px) {
  .solutions {
    padding: 15rem 20rem;
    padding-bottom: 0rem;
  }

  .solutionsSubtitle {
    font-size: 6rem;
  }

  .solutionsDescription {
    font-size: 1.6rem;
  }

  .solutionsImageLaptop {
    left: 6%;
  }
}

@media (max-width: 2560px) {
  .solutions {
    padding: 15rem 15rem;
    padding-bottom: 0rem;
  }

  .imageLaptop {
    width: 80%;
  }

  .imagePhone {
    width: 90%;
  }

  .solutionsImageLaptop {
    left: 3%;
  }

  .solutionsImagePhone {
    left: 43%;
  }

  .solutionsSubtitle {
    font-size: 5rem;
  }

  .solutionsDescription {
    font-size: 1.5rem;
  }
}

@media (max-width: 2310px) {
  .solutions {
    padding: 12rem 12rem;
    padding-bottom: 0rem;
    min-height: 1000px;
  }

  .solutionsTextContainer {
    width: 35%;
  }

  .solutionsSubtitle {
    font-size: 4.5rem;
  }

  .solutionsDescription {
    font-size: 1.5rem;
  }

  .solutionsImageLaptop {
    left: 3%;
    width: 70%;
  }

  .solutionsImagePhone {
    left: 45%;
    width: 17%;
  }
}
@media (max-width: 2240px) {
  .solutionsTextContainer {
    width: 40%;
  }

  .solutionsImageLaptop {
    left: 3%;
    width: 60%;
  }

  .solutionsImagePhone {
    left: 40%;
    width: 15%;
  }
}

/* Large Desktop */
@media (max-width: 1920px) {
  .solutions {
    padding: 10rem 8rem;
    padding-bottom: 0rem;
    min-height: 100vh;
  }

  .solutionsTextContainer {
    width: 35%;
  }

  .solutionsSubtitle {
    font-size: 3.5rem;
  }

  .solutionsDescription {
    font-size: 1.3rem;
  }

  .solutionsImageLaptop {
    width: 55%;
  }

  .solutionsImagePhone {
    width: 17%;
    left: 45%;
  }

  .imageLaptop,
  .imagePhone {
    width: 100%;
  }

  .solutions::before {
    top: 75%;
  }
}

/* Desktop */
@media (max-width: 1680px) {
  .solutions {
    padding: 10rem 5rem;
    padding-bottom: 0rem;
    min-height: 750px;
  }

  .solutionsTitle {
    font-size: 1.3rem;
  }

  .solutionsSubtitle {
    font-size: 3.2rem;
  }

  .solutionsDescription {
    font-size: 1rem;
  }
}

@media (max-width: 1600px) {
  .solutions {
    padding: 10rem 5rem;
    padding-bottom: 0rem;
    min-height: 750px;
  }

  .solutionsImageLaptop {
    left: 3%;
    width: 55%;
  }

  .solutionsImagePhone {
    left: 43%;
  }
}

/* Smaller Desktop */
@media (max-width: 1440px) {
  .solutions {
    padding-top: 4rem;
    min-height: 650px;
  }

  .solutionsTitle {
    font-size: 1.2rem;
  }

  .solutionsSubtitle {
    font-size: 2.7rem;
  }

  .solutionsImagePhone {
    left: 43%;
  }

  .solutionsImageLaptop {
    left: 3%;
  }

  .solutions::before {
    top: 90%;
  }
}

/* Laptop */
@media (max-width: 1370px) {
  .solutionsTextContainer {
    width: 40%;
  }

  .solutionsImageLaptop {
    left: 2%;
  }

  .solutionsImagePhone {
    left: 40%;
  }
}

@media (max-width: 1280px) {
  .solutions {
    min-height: 700px;
  }

  .solutionsSubtitle {
    font-size: 2.5rem;
  }

  .solutionsTextContainer {
    width: 36%;
  }

  .solutionsDescription {
    font-size: 1 rem;
  }
}

@media (max-width: 1024px) {
  .solutionsSubtitle {
    font-size: 5rem;
  }

  .solutions {
  }
}
/* Tablet */
@media (max-width: 900px) {
  .solutions {
    padding: 5rem;
    display: block;
    padding-bottom: 0;
    min-height: 400px;
  }

  .solutionsTextContainer {
    width: 100%;
    padding-right: 0;
    margin-bottom: 3rem;
  }

  .solutionsImageLaptop {
    width: 100%;
    position: relative;
  }

  .imageLaptop {
    width: 100%;
  }

  .solutionsImagePhone {
    display: none;
  }

  .solutionsTitle {
    font-size: 1.4rem;
  }

  .solutionsSubtitle {
    font-size: 4rem;
  }

  .solutionsDescription {
    font-size: 1.2rem;
  }

  .solutions::before {
    height: 0;
  }
}

/* Small Tablet */
@media (max-width: 769px) {
  .solutions {
    padding: 4rem;
    padding-bottom: 0;
  }
}

/* Large Mobile */
@media (max-width: 610px) {
  .solutions {
    padding: 3rem;
    padding-bottom: 0;
  }

  .solutionsTitle {
    font-size: 1.2rem;
  }

  .solutionsSubtitle {
    font-size: 2.5rem;
  }

  .solutionsDescription {
    font-size: 1.1rem;
  }
}

/* Mobile */
@media (max-width: 495px) {
  .solutions {
    padding: 2rem 2rem 0;
    padding-bottom: 0;
  }

  .solutionsTextContainer {
    width: 100%;
    margin-bottom: 2rem;
  }

  .solutionsImageLaptop {
    width: 100%;
    position: static;
  }

  .solutionsTitle {
    background: transparent;
    color: var(--light-blue);
    padding: 0;
    margin-bottom: 3rem;
  }

  .solutionsDescription {
    font-size: 1rem;
  }
}

@media (max-width: 405px) {
  .solutionsSubtitle {
    font-size: 2.3rem;
  }
}

/* Small Mobile */
@media (max-width: 376px) {
  .solutions {
    padding-bottom: 0;
  }

  .solutionsSubtitle {
    font-size: 2.2rem;
  }

  .solutionsDescription {
    font-size: 1rem;
  }
}

/* Extra Small Mobile */
@media (max-width: 360px) {
  .solutions {
    padding-bottom: 0;
  }

  .solutionsSubtitle {
    font-size: 2rem;
  }

  .solutionsDescription {
    font-size: 0.9rem;
  }
}

/* Very Small Mobile */
@media (max-width: 325px) {
  .solutions {
    padding: 1rem;
    padding-bottom: 0;
  }

  .solutionsSubtitle {
    font-size: 1.8rem;
  }

  .solutionsDescription {
    font-size: 0.8rem;
  }
}

/* Tablets in Portrait Mode */
@media (max-width: 1200px) and (min-height: 1920px),
  (max-width: 1024px) and (min-height: 1366px) {
  .solutions {
    padding: 0 5rem;
  }

  .solutionsTextContainer {
    width: 100%;
    margin-bottom: 6rem;
  }

  .solutionsImageLaptop {
    width: 75%;
    left: 10%;
    bottom: -30%;
  }

  .solutionsImagePhone {
    width: 25%;
    left: 70%;
  }

  .solutionsTitle {
    font-size: 1.5rem;
  }

  .solutionsDescription {
    font-size: 1.4rem;
  }
}

/* iPad Pro 12.9" */
@media (max-width: 1200px) and (min-height: 1920px) {
  .solutions {
    padding-bottom: 0rem;
  }
}

/* iPad Pro 11" */
@media (max-width: 1024px) and (min-height: 1366px) {
  .solutions {
    display: block;
  }

  .solutionsTextContainer {
    width: 100%;
    margin-bottom: 3rem;
  }

  .solutionsImageLaptop {
    width: 80%;
    position: static;
  }
}
