.solutions {
  padding: 16rem 10rem 0 10rem;
  padding-top: 8rem;
  overflow: hidden;
  position: relative;
  min-height: 1000px;
}

.solutions::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 700px;
  background: radial-gradient(
    circle at center,
    var(--blue) 0%,
    var(--light-blue) 25%,
    transparent 70%
  );
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.4;
  z-index: -1;
  animation: pulse 10s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.solutionsTitle {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 3rem;
  color: var(--light-blue);
}

.solutionsText {
  display: flex;
  justify-content: flex-end;
}

.solutionsTextContainer {
  text-align: right;
  width: 35%;
}

.solutionsSubtitle {
  font-size: 4.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  text-align: right;
}

.solutionsDescription {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--text);
  margin-left: auto;
}

.solutionsImageLaptop {
  position: absolute;
  bottom: 0;
  left: 5%;
  transform: translateX(-30%);
  z-index: 1;
  will-change: transform;
}

.solutionsImagePhone {
  position: absolute;
  bottom: -10%;
  left: 45%;
  transform: translateY(20%);
  z-index: 2;
  will-change: transform;
}

@media (max-width: 1920px) {
  .solutions {
    padding-top: 5rem;
    min-height: 800px;
  }

  .solutionsSubtitle {
    font-size: 3.5rem;
  }

  .solutionsDescription {
    font-size: 1.2rem;
  }

  .solutionsImageLaptop {
    width: 55%;
  }

  .solutionsImagePhone {
    width: 17%;
  }

  .imageLaptop {
    width: 100%;
  }

  .imagePhone {
    width: 100%;
  }

  .solutions::before {
    top: 75%;
  }
}

@media (max-width: 1680px) {
  .solutionsTitle {
    font-size: 1.3rem;
  }

  .solutionsSubtitle {
    font-size: 3rem;
  }

  .solutionsDescription {
    font-size: 1rem;
  }

  .imageLaptop {
    width: 100%;
  }

  .imagePhone {
    width: 100%;
  }
}

@media (max-width: 1600px) {
}

@media (max-width: 1440px) {
  .solutionsTitle {
    font-size: 1.2rem;
  }

  .solutionsSubtitle {
    font-size: 2.7rem;
  }

  .solutionsDescription {
    font-size: 1rem;
  }

  .solutionsImagePhone {
    left: 43%;
  }

  .solutionsImageLaptop {
    left: 3%;
  }

  .solutions {
    padding-top: 4rem;
    min-height: 650px;
  }

  .solutions::before {
    top: 90%;
  }
}

@media (max-width: 1370px) {
  .solutionsTextContainer {
    width: 40%;
  }

  .solutionsImageLaptop {
    left: 2%;
  }

  .solutionsImagePhone {
    left: 40%;
  }
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 900px) {
  .solutions {
    padding: 5rem 5rem;
    min-height: 1050px;
  }

  .solutionsTextContainer {
    width: 100%;
  }

  .solutionsImageLaptop {
    width: 90%;
    left: 5%;
  }

  .solutionsImagePhone {
    display: none;
  }

  .solutionsTitle {
    font-size: 1.4rem;
    padding-bottom: 2.5rem;
  }

  .solutionsSubtitle {
    font-size: 3.5rem;
  }

  .solutionsDescription {
    font-size: 1.2rem;
  }

  .solutions::before {
    height: 0;
  }
}

@media (max-width: 835px) {
}

@media (max-width: 769px) {
  .solutions {
    min-height: 1000px;
  }

  .services {
    padding: 4rem 4rem;
  }
}

@media (max-width: 610px) {
  .solutions {
    min-height: 820px;
  }

  .solutions {
    padding: 3rem 3rem;
  }

  .solutionsTitle {
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
  }

  .solutionsSubtitle {
    font-size: 2.5rem;
  }

  .solutionsDescription {
    font-size: 1.1rem;
  }
}

@media (max-width: 485px) {
  .solutions {
    padding: 2rem 2rem;
    padding-bottom: 0;
    min-height: 760px;
  }
}

@media (max-width: 425px) {
  .solutionsSubtitle {
    font-size: 2.5rem;
  }

  .solutionsDescription {
    font-size: 1.1rem;
  }
}

@media (max-width: 460px) {
}

@media (max-width: 376px) {
  .solutions {
    min-height: 690px;
  }
  .solutionsSubtitle {
    font-size: 2.2rem;
  }

  .solutionsDescription {
    font-size: 1rem;
  }
}

@media (max-width: 360px) {
  .solutions {
    min-height: 680px;
  }
  .solutionsSubtitle {
    font-size: 2rem;
  }

  .solutionsDescription {
    font-size: 0.9rem;
  }
}

@media (max-width: 325px) {
  .solutions {
    padding: 1rem 1rem;
    min-height: 580px;
  }

  .solutionsSubtitle {
    font-size: 1.8rem;
  }

  .solutionsDescription {
    font-size: 0.8rem;
  }
}

@media (max-width: 1200px) and (min-height: 1920px),
  (max-width: 1024px) and (min-height: 1366px) {
  .solutions {
    padding: 0rem 5rem;
  }

  .solutionsTextContainer {
    width: 100%;
  }

  .solutionsImageLaptop {
    width: 75%;
    left: 10%;
  }

  .solutionsImagePhone {
    width: 25%;
    left: 70%;
  }

  .solutionsTitle {
    font-size: 1.5rem;
    padding-bottom: 3rem;
  }

  .solutionsDescription {
    font-size: 1.4rem;
  }
}

@media (max-width: 1200px) and (min-height: 1920px) {
  .solutionsSubtitle {
    font-size: 5.5rem;
  }

  .solutions {
    height: 1200px;
  }

  .solutions::before {
    top: 60%;
  }
}

@media (max-width: 1024px) and (min-height: 1366px) {
  .solutions {
    height: 1100px;
    padding: 0rem 5rem;
  }
  .solutionsSubtitle {
    font-size: 4.5rem;
  }

  .solutions::before {
    top: 65%;
  }
}
