.testimonials {
  padding: 12rem 10rem;
  padding-top: 7rem;
  background-color: var(--text);
  color: var(--background);
  position: relative;
}

.testimonialsTitle {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--blue);
}

.testimonialsHeader {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}

.carouselContainer {
  margin: 0 auto;
  padding: 2rem 0;
  position: relative;
  max-width: 1400px;
}

.viewport {
  overflow: hidden;
  position: relative;
  padding: 2rem 0;
}

.viewport::before,
.viewport::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30%;
  z-index: 2;
  pointer-events: none;
}

.viewport::before {
  left: 0;
  background: linear-gradient(
    to right,
    var(--text) 0%,
    rgba(34, 37, 58, 0) 100%
  );
}

.viewport::after {
  right: 0;
  background: linear-gradient(
    to left,
    var(--text) 0%,
    rgba(34, 37, 58, 0) 100%
  );
}

.container {
  position: relative;
  width: 100%;
}

.slide {
  outline: none;
  padding: 0 10rem;
}

.text {
  font-size: 2.5rem;
  line-height: 1.6;
  text-align: center;
  margin: 1rem auto;
}

.authorInfo {
  text-align: center;
  margin-top: 2rem;
}

.authorName,
.position,
.company {
  font-size: 2rem;
  font-weight: 400;
  color: var(--background);
}

.button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: var(--background);
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.5rem;
  border: 1px solid var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.prevButton {
  left: 45%;
}

.nextButton {
  right: 45%;
}

.button:hover {
  background: var(--background);
  color: var(--text);
  transform: translateY(-50%) scale(1.1);
}

@media (max-width: 1920px) {
  .text {
    font-size: 2.3rem;
    line-height: 1.6;
    text-align: center;
    margin: 1rem auto;
  }

  .authorName,
  .position,
  .company {
    font-size: 1.8rem;
  }
}

@media (max-width: 1680px) {
  .testimonialsTitle {
    font-size: 1.3rem;
  }

  .text {
    font-size: 2rem;
  }

  .authorInfo {
    margin-top: 1.5rem;
  }

  .authorName,
  .position,
  .company {
    font-size: 1.5rem;
  }

  .button {
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    top: 130%;
  }
}

@media (max-width: 1600px) {
  .testimonials {
    padding: 8rem 8rem;
    padding-bottom: 10rem;
  }

  .slide {
    padding: 0 7rem;
  }
}

@media (max-width: 1440px) {
  .testimonialsTitle {
    font-size: 1.2rem;
  }

  .text {
    font-size: 1.8rem;
  }

  .authorName,
  .position,
  .company {
    font-size: 1.3rem;
  }
}

@media (max-width: 1280px) {
  .slide {
    padding: 0 5rem;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 900px) {
  .testimonials {
    padding: 5rem 5rem;
    padding-bottom: 10rem;
  }

  .testimonialsTitle {
    font-size: 1.4rem;
    padding-bottom: 1rem;
  }

  .slide {
    padding: 0;
  }

  .text {
    font-size: 1.5rem;
  }

  .authorName,
  .position,
  .company {
    font-size: 1.2rem;
  }

  .button {
    width: 40px;
    height: 40px;
  }

  .prevButton {
    left: 44%;
  }

  .nextButton {
    right: 45%;
    margin-left: 1rem;
  }
}

@media (max-width: 835px) {
}

@media (max-width: 768px) {
  .testimonials {
    padding: 4rem 4rem;
    padding-bottom: 8rem;
  }

  .testimonialsTitle {
    font-size: 1.2rem;
  }

  .text {
    font-size: 1.2rem;
  }

  .authorName,
  .position,
  .company {
    font-size: 1rem;
  }

  .prevButton {
    left: 40%;
  }

  .nextButton {
    right: 40%;
  }
}

@media (max-width: 610px) {
}

@media (max-width: 485px) {
}

@media (max-width: 425px) {
}

@media (max-width: 460px) {
}

@media (max-width: 376px) {
}

@media (max-width: 325px) {
}

@media (max-width: 1200px) and (min-height: 1920px),
  (max-width: 1024px) and (min-height: 1366px) {
  .testimonials {
    padding: 10rem 5rem;
    padding-bottom: 14rem;
  }

  .testimonialsTitle {
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }

  .slide {
    padding: 0 2rem;
  }
}

@media (max-width: 1200px) and (min-height: 1920px) {
  .text {
    font-size: 2.5rem;
  }

  .authorName,
  .position,
  .company {
    font-size: 1.8rem;
  }

  .button {
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    top: 120%;
    left: 50%;
    transform: translateY(-50%);
  }

  .prevButton {
    left: 44%;
  }

  .nextButton {
    right: 41%;
  }
}

@media (max-width: 1024px) and (min-height: 1366px) {
  .text {
    font-size: 2.3rem;
  }

  .authorName,
  .position,
  .company {
    font-size: 1.6rem;
  }

  .button {
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    top: 120%;
    left: 50%;
    transform: translateY(-50%);
  }

  .prevButton {
    left: 44%;
  }

  .nextButton {
    right: 41%;
  }
}
