.nav {
  background-color: var(--background);
  position: static;
  height: 10vh;
}

.nav2 {
  background-color: var(--background);
  position: static;
  height: 10vh;
}

.aboutUsContainer {
  display: grid;
  grid-template-columns: 1fr 7fr;
  gap: 1rem;
  height: 90vh;
  background-color: var(--text);
  position: relative;
}

.aboutUsContent {
  padding: 2rem;
  overflow-y: auto;
  height: 100%;
}

.aboutUs,
.ourDivisions,
.ourTeam,
.ourProjects {
  display: none;
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  overflow-y: hidden;
  padding: 0rem 2rem;
}

.aboutUs h1,
.ourDivisions h1,
.ourTeam h1,
.ourProjects h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.aboutUs p,
.ourDivisions p,
.ourTeam p,
.ourProjects p {
  margin-bottom: 1rem;
}

.aboutUs.active,
.ourDivisions.active,
.ourTeam.active,
.ourProjects.active {
  display: block;
  opacity: 1;
  transform: translateX(0);
  color: var(--background);
}

.divisionsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  padding: 2rem 0;
}

.divisionsContainer div {
  background-color: rgb(213, 213, 213);
  padding: 1.5rem;
  border-radius: 1rem;
  color: var(--background);

  transition: all 0.3s ease;
}

.divisionsContainer div:hover {
  background-color: var(--background);
  color: var(--background);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  color: var(--text);
}

.divisionsContainer div h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  background-color: var(--text);
  color: var(--background);
  padding: 0.5rem;
  border-radius: 0.6rem;
  text-align: center;
}

.divisionsDescription {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
  color: var(--background);
}

.sideNav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  padding: 2rem 1rem;
  color: var(--background);
  height: 100%;
  overflow: hidden;
}

.sideNavItem {
  cursor: pointer;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sideNavItem svg {
  opacity: 0;
  transform: translateX(-10px);
  transition: all 0.3s ease;
}

.sideNavItem.active svg {
  opacity: 1;
  transform: translateX(0);
}

.sideNavItem:hover svg {
  opacity: 1;
  transform: translateX(0);
}

.sideNavItem.active {
  color: var(--light-blue);
}

.sideNavItem:hover {
  color: var(--light-blue);
}
