.container {
  padding: 15rem 20rem;
  display: flex;
  justify-content: space-between;
  gap: 7rem;
  overflow-x: hidden;
}

.contactTextContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}

.contactText {
  font-size: 5.7rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.contactInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.contactEmail,
.contactAddress {
  font-size: 2.2rem;
  font-weight: 600;
  background-color: var(--light-blue);
  width: fit-content;
  padding: 1rem 2rem;
  border-radius: 50px;
  color: var(--background);
}

.contactFormContainer {
  width: 50%;
  overflow-x: hidden;
}

.contactForm {
  padding: 4rem;
  background-color: var(--text);
  border-radius: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
}

.contactFormInput {
  margin-bottom: 3rem;
  width: 100%;
}

.contactFormInput input,
.contactFormInputMessage textarea {
  background-color: transparent;
  color: var(--background);
  outline: none;
  font-size: 1.5rem;
  border: 1px solid #00000045;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  width: 100%;
}

.contactFormInputMessage textarea {
  resize: none;
  margin-top: 3rem;
}

.contactFormInputMessage textarea::placeholder,
.contactFormInput input::placeholder {
  color: #0000006d;
  font-size: 1.5rem;
}

/* Add styles for autofilled inputs */
.contactFormInput input:-webkit-autofill,
.contactFormInput input:-webkit-autofill:hover,
.contactFormInput input:-webkit-autofill:focus,
.contactFormInput input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

.contactFormInputName,
.contactFormInputCompanyEmail {
  display: flex;
  gap: 3rem;
  width: 100%;
}

.contactFormInputName div {
  width: 50%;
}

.contactFormInputSelect {
  width: 100%;
}

.contactFormButton {
  border: 1px solid var(--background);
  border-radius: 1rem;
  transition: all 0.4s ease;
  color: var(--text);
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 1rem 2rem;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  will-change: transform;
}

.contactFormButton:hover {
  background-color: var(--blue);
  color: var(--text);
  border-color: var(--blue);
}

.recaptcha {
  margin: 3rem 0;
  transform: scale(1.5);
  transform-origin: left;
}

.entityTypeSelect {
  margin-bottom: 3rem;
}

.socials {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.socialsIcon {
  font-size: 6rem;
  transition: all 0.3s ease;
}

.socialsIcon:hover {
  transform: scale(1.1);
}

@media (max-width: 3200px) {
  .container {
    padding: 15rem 15rem;
    gap: 6rem;
  }

  .contactTextContainer {
    gap: 2.5rem;
  }

  .contactText {
    font-size: 4.8rem;
    margin-bottom: 2.5rem;
  }

  .contactInfoContainer {
    gap: 2.5rem;
  }

  .contactEmail,
  .contactAddress {
    font-size: 1.8rem;
    padding: 0.8rem 1.8rem;
  }

  .contactForm {
    padding: 3.5rem;
    border-radius: 0.8rem;
  }

  .contactFormInput {
    margin-bottom: 2.5rem;
  }

  .contactFormInput input,
  .contactFormInputMessage textarea {
    font-size: 1.3rem;
    padding: 0.8rem 1.5rem;
    border-radius: 0.8rem;
  }

  .contactFormInputMessage textarea {
    margin-top: 2.5rem;
  }

  .contactFormInputMessage textarea::placeholder,
  .contactFormInput input::placeholder {
    font-size: 1.3rem;
  }

  .entityTypeSelect {
    margin-bottom: 2.5rem;
  }

  .contactFormInputName,
  .contactFormInputCompanyEmail {
    gap: 3.5rem;
  }

  .contactFormButton {
    padding: 0.8rem 1.5rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    border-radius: 0.8rem;
  }

  .recaptcha {
    margin: 2.5rem 0;
  }

  .socials {
    gap: 1.5rem;
    margin-top: 2.5rem;
  }

  .socialsIcon {
    font-size: 4.5rem;
  }

  .recaptcha {
    transform: scale(1.3);
  }
}

@media (max-width: 2560px) {
  .container {
    padding: 12rem 10rem 8rem;
    gap: 5rem;
  }

  .contactTextContainer {
    gap: 2rem;
  }

  .contactText {
    font-size: 3.9rem;
    margin-bottom: 2rem;
  }

  .contactInfoContainer {
    gap: 2rem;
  }

  .contactEmail,
  .contactAddress {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
  }

  .contactForm {
    padding: 3rem;
    border-radius: 0.5rem;
  }

  .contactFormInput {
    margin-bottom: 2rem;
  }

  .contactFormInput input,
  .contactFormInputMessage textarea {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }

  .contactFormInputMessage textarea {
    margin-top: 2rem;
  }

  .contactFormInputMessage textarea::placeholder,
  .contactFormInput input::placeholder {
    font-size: 1rem;
  }

  .entityTypeSelect {
    margin-bottom: 2rem;
  }

  .contactFormInputName,
  .contactFormInputCompanyEmail {
    gap: 3rem;
  }

  .contactFormButton {
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    border-radius: 0.5rem;
  }

  .recaptcha {
    margin: 2rem 0;
  }

  .socials {
    gap: 1rem;
    margin-top: 2rem;
  }

  .socialsIcon {
    font-size: 4rem;
  }

  .recaptcha {
    transform: scale(1);
  }
}

@media (max-width: 2310px) {
  .contactText {
    font-size: 3.5rem;
  }
}

@media (max-width: 2240px) {
  .contactText {
    font-size: 3.4rem;
  }
}

@media (max-width: 1920px) {
  .contactText {
    font-size: 2.8rem;
  }
}

@media (max-width: 1680px) {
  .container {
    padding: 10rem 6rem;
    gap: 5rem;
  }

  .contactTextContainer {
    gap: 1.5rem;
  }

  .contactText {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
  }

  .contactInfoContainer {
    gap: 1.5rem;
  }

  .contactEmail,
  .contactAddress {
    font-size: 1.3rem;
    padding: 0.5rem 1.5rem;
  }

  .contactForm {
    padding: 2.5rem;
    border-radius: 0.5rem;
  }

  .contactFormInput {
    margin-bottom: 1.5rem;
  }

  .contactFormInput input,
  .contactFormInputMessage textarea {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }

  .contactFormInputMessage textarea {
    margin-top: 1.5rem;
  }

  .contactFormInputMessage textarea::placeholder,
  .contactFormInput input::placeholder {
    font-size: 1rem;
  }

  .entityTypeSelect {
    margin-bottom: 1.5rem;
  }

  .contactFormInputName,
  .contactFormInputCompanyEmail {
    gap: 2.5rem;
  }

  .contactFormButton {
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    border-radius: 0.5rem;
  }

  .recaptcha {
    margin: 1.5rem 0;
  }

  .socials {
    gap: 1rem;
    margin-top: 1.5rem;
  }

  .socialsIcon {
    font-size: 3.5rem;
  }
}

@media (max-width: 1540px) {
  .contactText {
    font-size: 2.3rem;
  }
  .contactForm {
    padding: 2rem;
    border-radius: 0.5rem;
  }
}

@media (max-width: 1440px) {
  .container {
    padding: 8rem 5rem;
    gap: 4rem;
  }

  .contactText {
    font-size: 2.2rem;
  }

  .socialsIcon {
    font-size: 3.1rem;
  }

  .contactForm {
    padding: 2rem;
  }

  .contactFormInput {
    margin-bottom: 1rem;
  }

  .contactFormInput input,
  .contactFormInputMessage textarea {
    font-size: 0.9rem;
  }

  .contactFormInputMessage textarea {
    margin-top: 1rem;
  }

  .contactFormInputMessage textarea::placeholder,
  .contactFormInput input::placeholder {
    font-size: 0.9rem;
  }

  .entityTypeSelect {
    margin-bottom: 1rem;
  }

  .contactFormInputName,
  .contactFormInputCompanyEmail {
    gap: 2rem;
  }
}

@media (max-width: 1366px) {
  .container {
    padding: 8rem 4rem;
    gap: 3rem;
  }

  .contactText {
    font-size: 2.2rem;
  }

  .contactEmail,
  .contactAddress {
    font-size: 1.2rem;
    padding: 0.5rem 1.4rem;
  }
}

@media (max-width: 1280px) {
  .contactText {
    font-size: 2rem;
  }

  .contactEmail,
  .contactAddress {
    font-size: 1.1rem;
    padding: 0.5rem 1.3rem;
  }
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .contactTextContainer {
    width: 100%;
  }

  .contactInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .contactInfoContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .contactFormContainer {
    width: 100%;
  }

  .contactText {
    font-size: 3.3rem;
  }

  .socials {
    margin-top: 0;
  }

  .contactEmail,
  .contactAddress {
    display: flex;
  }

  .contactFormButton {
    width: 100%;
  }
}

@media (max-width: 834px) {
  .contactText {
    font-size: 2.6rem;
  }
}

@media (max-width: 820px) {
  .contactText {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 6rem 3rem;
  }

  .contactText {
    font-size: 2.5rem;
  }

  .contactEmail,
  .contactAddress {
    font-size: 1rem;
    padding: 0.5rem 1.3rem;
  }

  .socialsIcon {
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 6rem 2rem;
  }

  .contactText {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .contactInfo {
    flex-direction: column;
    align-items: flex-start;
  }

  .contactInfoContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .contactEmail,
  .contactAddress {
    font-size: 0.8rem;
    padding: 0.5rem 1.3rem;
  }

  .socials {
    margin-top: 1rem;
  }

  .socialsIcon {
    font-size: 2rem;
  }

  .contactForm {
    padding: 1.5rem;
  }

  .contactFormInput {
    margin-bottom: 1rem;
  }

  .contactFormInputName,
  .contactFormInputCompanyEmail {
    gap: 1rem;
  }

  .contactFormInputMessage textarea {
    margin-top: 1rem;
  }

  .recaptcha {
    transform: scale(0.8);
    margin: 1rem 0;
  }
}
