@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #21253a;
  --text: #ededed;
  --light-blue: #66bbe3;
  --blue: #2275b1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --text: #ededed;
  }
}

body {
  color: var(--text);
  background: var(--background);
  font-family: var(--font-montserrat);
}

/* Add these styles for text selection */
::selection {
  background: var(--light-blue);
  color: var(--background);
}

::-moz-selection {
  background: var(--light-blue);
  color: var(--background);
}
