@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #21253a;
  --text: #ededed;
  --light-blue: #66bbe3;
  --blue: #2275b1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --text: #ededed;
  }
}

body {
  color: var(--text);
  background: var(--background);
  font-family: var(--font-montserrat);
  cursor: none;
}

a,
button {
  cursor: none;
}

/* Add these styles for text selection */
::selection {
  background: var(--light-blue);
  color: var(--background);
}

::-moz-selection {
  background: var(--light-blue);
  color: var(--background);
}

.highlight {
  color: var(--light-blue); /* Global highlight style */
}

.slick-slide {
  opacity: 0; /* Global slick-slide style */
  transition: opacity 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.slick-slide.slick-active {
  opacity: 1;
}

.highlight {
  color: var(--light-blue);
}

@media (max-width: 900px) {
  body {
    cursor: default;
  }

  a,
  button {
    cursor: default;
  }
}

@media (max-width: 1200px) and (min-height: 1920px),
  (max-width: 1024px) and (min-height: 1366px) {
  body {
    cursor: default;
  }

  a,
  button {
    cursor: default;
  }
}
