@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #21253a;
  --text: #ededed;
  --light-blue: #66bbe3;
  --blue: #2275b1;
  --dark-gray: #282827;
  --gray: #474646;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --text: #ededed;
  }
}

body {
  color: var(--text);
  background: var(--background);
  font-family: var(--font-montserrat);
  font-weight: 500;
  cursor: url("/cursor-default.png"), auto;
}

a,
button {
  cursor: url("/cursor-pointer-v3.png"), pointer;
}

/* Add these styles for text selection */
::selection {
  background: var(--light-blue);
  color: var(--background);
}

::-moz-selection {
  background: var(--light-blue);
  color: var(--background);
}

.highlight {
  color: var(--light-blue); /* Global highlight style */
}

.slick-slide {
  opacity: 0; /* Global slick-slide style */
  transition: opacity 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.slick-slide.slick-active {
  opacity: 1;
}

.highlight {
  color: var(--light-blue);
}

.highlight-font {
  font-weight: 700;
}

/* Styles for the Select component */
.MuiOutlinedInput-root {
  border-color: #00000045 !important;
  color: var(--text) !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #00000045 !important;
  border-radius: 1rem !important;
}

.MuiSelect-icon {
  color: #000000b6 !important;
  transition: all 0.3s ease !important;
}

.MuiSelect-select {
  background-color: var(--text) !important;
  color: var(--background) !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #00000045 !important;
  border-width: 1px !important;
  outline: none !important;
}

.MuiSelect-select {
  color: var(--background) !important;
  font-size: 1.5rem !important;
  padding: 1rem 2rem !important;
  line-height: 1.5 !important;
}

.MuiSelect-select:hover {
  cursor: url("/cursor-pointer-v3.png"), pointer !important;
}

/* Menu Props Styling */
.MuiMenu-paper {
  background-color: var(--text) !important;
  border-radius: 0.5rem !important;
  color: var(--background) !important;
  font-size: 1.5rem !important;
}

.MuiMenu-paper .MuiMenuItem-root {
  color: var(--background) !important;
  font-size: 1.5rem !important;
  padding: 1rem 2rem !important;
  transition: all 0.3s ease !important;
  background-color: var(--text) !important;
  cursor: url("/cursor-pointer-v3.png"), pointer !important;
}

.MuiMenu-paper .MuiMenuItem-root:hover {
  background-color: var(--text) !important;
  color: var(--blue) !important;
}

.MuiMenu-paper .MuiMenuItem-root.Mui-selected {
  background-color: var(--text) !important;
  color: var(--background) !important;
}

.MuiMenu-paper .MuiMenuItem-root.Mui-selected:hover {
  background-color: var(--text) !important;
  color: var(--blue) !important;
}

.MuiMenu-paper .MuiMenuItem-root.Mui-disabled {
  color: #0000006d !important;
  opacity: 1 !important;
  cursor: default !important;
  pointer-events: none !important;
}

.MuiMenu-paper .MuiMenuItem-root.Mui-disabled em {
  font-style: normal !important;
}

@media (max-width: 3200px) {
  .MuiOutlinedInput-notchedOutline {
    border-radius: 0.8rem !important;
  }

  .MuiSelect-select {
    font-size: 1.3rem !important;
    padding: 0.8rem 1.8rem !important;
  }

  /* Menu Props Styling */
  .MuiMenu-paper {
    border-radius: 0.8rem !important;
    font-size: 1.3rem !important;
  }

  .MuiMenu-paper .MuiMenuItem-root {
    font-size: 1.3rem !important;
    padding: 0.8rem 1.8rem !important;
  }
}

@media (max-width: 2560px) {
  .MuiOutlinedInput-notchedOutline {
    border-radius: 0.5rem !important;
  }

  .MuiSelect-select {
    font-size: 1rem !important;
    padding: 0.5rem 1rem !important;
  }

  /* Menu Props Styling */
  .MuiMenu-paper {
    border-radius: 0.5rem !important;
    font-size: 1rem !important;
  }

  .MuiMenu-paper .MuiMenuItem-root {
    font-size: 1rem !important;
    padding: 0.5rem 1rem !important;
  }
}

@media (max-width: 2310px) {
  .contactText {
    font-size: 3.5rem;
  }
}

@media (max-width: 2240px) {
}

@media (max-width: 1920px) {
}

@media (max-width: 1680px) {
  .MuiOutlinedInput-notchedOutline {
    border-radius: 0.4rem !important;
  }

  /* Menu Props Styling */
  .MuiMenu-paper {
    border-radius: 0.4rem !important;
  }
}

@media (max-width: 1540px) {
}

@media (max-width: 1440px) {
  .MuiSelect-select {
    font-size: 0.9rem !important;
    padding: 0.5rem 1rem !important;
  }

  /* Menu Props Styling */
  .MuiMenu-paper {
    border-radius: 0.5rem !important;
    font-size: 0.9rem !important;
  }

  .MuiMenu-paper .MuiMenuItem-root {
    font-size: 0.9rem !important;
    padding: 0.5rem 1rem !important;
  }
}

@media (max-width: 1366px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 900px) {
}

@media (max-width: 1200px) and (min-height: 1920px),
  (max-width: 1024px) and (min-height: 1366px) {
}

@media (max-width: 1920px) {
  .MuiInputLabel-root {
    font-size: 1rem !important;
  }
}

/* Custom Scrollbar Styles */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light-blue);
  border-radius: 10px;
}

/* Text justification and subtitle spacing */
.justify-text {
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
}

.subtitle {
  letter-spacing: -0.02em;
  word-spacing: -0.1em;
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
}

/* For specific cases where you want to remove extra spacing */
.no-spacing {
  letter-spacing: 0;
  word-spacing: 0;
}
