.nav {
  background-color: var(--background);
}

.aboutUsContainer {
  gap: 1rem;
  background-color: var(--text);
}

.title {
  font-size: 12rem;
  font-weight: 800;
  text-transform: uppercase;
  padding: 16rem 20rem 4rem 20rem;
  background-color: var(--light-blue);
  color: var(--background);
}

.aboutUsContent {
  padding: 15rem 20rem;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
}

.aboutUs,
.ourDivisions,
.ourTeam,
.ourProjects {
  transform: translateX(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  overflow-y: hidden;
}

.aboutUs h1,
.ourDivisions h1,
.ourTeam h1,
.ourProjects h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: lowercase;
  display: inline-block;
  text-transform: capitalize;
  color: var(--background);
}

.aboutUs p,
.ourDivisions p,
.ourTeam p,
.ourProjects p {
  margin-bottom: 1rem;
  color: var(--background);
}

.aboutUsSubtitle,
.divisionsSubtitle,
.projectsSubtitle,
.teamSubtitle {
  font-size: 9rem;
  font-weight: 900;
  margin-bottom: 6rem;
  color: var(--background);
  line-height: 1.2;
}

.aboutUsSubtitle span,
.divisionsSubtitle span,
.projectsSubtitle span,
.teamSubtitle span {
  color: var(--light-blue);
}

.aboutUsContentText {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 2rem;
  height: fit-content;
}

.aboutUsContentText p:first-of-type {
  margin-bottom: 1rem;
  grid-column: 1 / 4;
  height: fit-content;
  font-size: 1.3rem;
}

.aboutUsContentTextItem {
  border: 2px solid var(--background);
  color: var(--background);
  padding: 2rem;
  border-radius: 0.5rem;
  height: fit-content;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.aboutUsContentTextItem:first-of-type {
  grid-column: 1 / 2;
}

.aboutUsContentTextItem:nth-of-type(2) {
  grid-column: 2 / 3;
}

.highlight {
  font-weight: 900;
  color: var(--background);
}

.aboutUsContentTextItem:hover {
  background-color: var(--background);
  color: var(--text);
  transform: translateY(-10px);
}

.aboutUsContentTextItem:hover .highlight {
  color: var(--light-blue);
}

.aboutUsContentTextItemTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  line-height: 1;
}

.divisionsContainer {
  width: 100%;
}

.divisionsDescription {
  font-size: 3rem;
}

.divisionsItemContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;
  gap: 6rem;
  align-items: start;
  margin-top: 7rem;
}

.divisionsItem {
  border: 2px solid var(--background);
  padding: 3rem;
  border-radius: 1rem;
  color: var(--background);
  transition: all 0.3s ease;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  grid-row: 2 / 3;
}

.divisionsItemTitle {
  line-height: 1;
  font-size: 4rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.divisionsItemTitleIcon {
  font-size: 9rem;
}

.divisionsItem:hover {
  background-color: var(--background);
  color: var(--text);
  transform: translateY(-10px);
}

.divisionsItem:hover .divisionsItemTitleIcon {
  color: var(--light-blue);
}

.divisionsItemDescription {
  font-size: 2rem;
  transition: color 0.3s ease;
}

.divisionsItem:hover .divisionsItemDescription {
  color: var(--text);
}

.teamContainer {
  display: flex;
  gap: 3rem;
}

.teamMember {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  width: 50%;
}

.teamMember h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--light-blue);
  line-height: 1;
}

.teamMember h4 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--background);
}

.teamMemberImage {
  width: 250px;
  height: 250px;
  border-radius: 1rem;
  overflow: hidden;
}

.teamMemberImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.teamMemberDescription {
  display: none;
}

.projectsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.project {
  background-color: rgb(213, 213, 213);
  padding: 1.5rem;
  border-radius: 1rem;
}

@media (max-width: 3200px) {
  .title {
    font-size: 10rem;
    padding: 15rem 16rem 4rem 16rem;
  }

  .aboutUsSubtitle,
  .divisionsSubtitle,
  .projectsSubtitle,
  .teamSubtitle {
    font-size: 7rem;
    margin-bottom: 4rem;
  }

  .aboutUsContent {
    padding: 10rem 16rem;
  }

  .divisionsDescription {
    font-size: 2.7rem;
  }

  .divisionsItemContainer {
    margin-top: 7rem;
  }

  .divisionsItem {
    gap: 2.5rem;
  }

  .divisionsItemTitle {
    font-size: 3.8rem;
  }

  .divisionsItemDescription {
    font-size: 1.8rem;
  }
}

@media (max-width: 2560px) {
  .title {
    font-size: 9rem;
    padding: 10rem 14rem 3rem 14rem;
  }

  .aboutUsContent {
    padding: 10rem 14rem;
  }

  .aboutUsSubtitle,
  .divisionsSubtitle,
  .projectsSubtitle,
  .teamSubtitle {
    font-size: 6rem;
    margin-bottom: 4rem;
  }

  .divisionsDescription {
    font-size: 2.4rem;
  }

  .divisionsItemContainer {
    margin-top: 5rem;
    gap: 4rem;
  }

  .divisionsItem {
    gap: 2rem;
  }

  .divisionsItemTitle {
    font-size: 3.2rem;
  }

  .divisionsItemDescription {
    font-size: 1.6rem;
  }
}

@media (max-width: 2340px) {
  .title {
    font-size: 8rem;
    padding: 10rem 14rem 3rem 14rem;
  }

  .aboutUsSubtitle,
  .divisionsSubtitle,
  .projectsSubtitle,
  .teamSubtitle {
    font-size: 5.5rem;
    margin-bottom: 3rem;
  }

  .divisionsDescription {
    font-size: 2.2rem;
  }

  .divisionsItemContainer {
    margin-top: 4rem;
    gap: 3rem;
  }

  .divisionsItem {
    gap: 2rem;
  }

  .divisionsItemTitle {
    font-size: 3rem;
  }

  .divisionsItemDescription {
    font-size: 1.4rem;
  }
}

@media (max-width: 2240px) {
}

@media (max-width: 1920px) {
  .title {
    font-size: 8rem;
    padding: 8rem 10rem 3rem 10rem;
  }

  .aboutUsContent {
    padding: 10rem 10rem;
  }

  .aboutUsSubtitle,
  .divisionsSubtitle,
  .projectsSubtitle,
  .teamSubtitle {
    font-size: 4.7rem;
    margin-bottom: 2rem;
  }

  .divisionsDescription {
    font-size: 2rem;
  }

  .divisionsItemContainer {
    margin-top: 4rem;
    gap: 2rem;
  }

  .divisionsItem {
    gap: 1.5rem;
    padding: 2rem;
  }

  .divisionsItemTitle {
    font-size: 2.8rem;
  }

  .divisionsItemDescription {
    font-size: 1.2rem;
  }
}

@media (max-width: 1680px) {
  .title {
    font-size: 6rem;
    padding: 6rem 8rem 2rem 8rem;
  }

  .aboutUsContent {
    padding: 6rem 8rem;
  }

  .aboutUsSubtitle,
  .divisionsSubtitle,
  .projectsSubtitle,
  .teamSubtitle {
    font-size: 4rem;
    margin-bottom: 1.8rem;
  }

  .divisionsDescription {
    font-size: 1.8rem;
  }

  .divisionsItemContainer {
    margin-top: 4rem;
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .divisionsItem {
    gap: 1.5rem;
    padding: 1.5rem;
  }

  .divisionsItemTitle {
    font-size: 2rem;
    gap: 1.5rem;
  }

  .divisionsItemTitleIcon {
    font-size: 7rem;
  }

  .divisionsItemDescription {
    font-size: 1.2rem;
  }
}

@media (max-width: 1600px) {
}

@media (max-width: 1540px) {
  .title {
    font-size: 5rem;
    padding: 6rem 6rem 2rem 6rem;
  }

  .aboutUsContent {
    padding: 5rem 6rem;
  }
}

@media (max-width: 1440px) {
  .title {
    font-size: 5rem;
    padding: 6rem 8rem 2rem 6rem;
  }

  .aboutUsSubtitle,
  .divisionsSubtitle,
  .projectsSubtitle,
  .teamSubtitle {
    font-size: 3.5rem;
    margin-bottom: 1.8rem;
  }

  .divisionsDescription {
    font-size: 1.6rem;
  }

  .divisionsItemContainer {
    margin-top: 3rem;
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .divisionsItem {
    gap: 0.5rem;
    padding: 1.5rem;
  }

  .divisionsItemTitle {
    font-size: 1.8rem;
    gap: 1rem;
  }

  .divisionsItemTitleIcon {
    font-size: 6rem;
  }

  .divisionsItemDescription {
    font-size: 1rem;
  }
}

@media (max-width: 1370px) {
}

@media (max-width: 1280px) {
  .aboutUsSubtitle,
  .divisionsSubtitle,
  .projectsSubtitle,
  .teamSubtitle {
    font-size: 3rem;
    margin-bottom: 1.8rem;
  }

  .divisionsDescription {
    font-size: 1.4rem;
  }
}

@media (max-width: 1024px) {
  .title {
    font-size: 5rem;
    padding: 8rem 0rem 2rem 0rem;
    text-align: center;
  }

  .divisionsItemContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .aboutUsSubtitle,
  .divisionsSubtitle,
  .projectsSubtitle,
  .teamSubtitle {
    font-size: 3rem;
    margin-bottom: 1.8rem;
  }

  .divisionsDescription {
    font-size: 1.4rem;
  }

  .divisionsItem {
    gap: 1rem;
    padding: 1.5rem;
  }

  .divisionsItemTitle {
    font-size: 2.5rem;
    gap: 1rem;
  }

  .divisionsItemTitleIcon {
    font-size: 5rem;
  }

  .divisionsItemDescription {
    font-size: 1.2rem;
  }

  .divisionsItem:hover {
    background-color: transparent;
    color: var(--background);
    transform: translateY(0px);
  }

  .divisionsItem:hover .divisionsItemTitleIcon {
    color: var(--background);
  }

  .divisionsItem:hover .divisionsItemDescription {
    color: var(--background);
  }
}

@media (max-width: 960px) {
  .title {
    font-size: 4rem;
    padding: 8rem 0rem 2rem 0rem;
    text-align: center;
  }

  .aboutUsContent {
    padding: 4rem 4rem;
  }
}

@media (max-width: 820px) {
  .aboutUsSubtitle,
  .divisionsSubtitle,
  .projectsSubtitle,
  .teamSubtitle {
    font-size: 2.5rem;
    margin-bottom: 1.8rem;
  }

  .divisionsItemTitle {
    font-size: 2rem;
    gap: 1rem;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 610px) {
}

@media (max-width: 485px) {
  .title {
    font-size: 3rem;
    padding: 7rem 0rem 2rem 0rem;
    text-align: center;
  }

  .aboutUsContent {
    padding: 4rem 2.5rem;
  }

  .aboutUsSubtitle,
  .divisionsSubtitle,
  .projectsSubtitle,
  .teamSubtitle {
    font-size: 1.8rem;
    margin-bottom: 1.8rem;
  }

  .divisionsItem {
    gap: 0.5rem;
    padding: 0rem;
    border: none;
  }

  .divisionsItemTitle {
    font-size: 1.8rem;
    gap: 1rem;
  }
}

@media (max-width: 460px) {
  .title {
    font-size: 3rem;
    padding: 6rem 0rem 2rem 0rem;
  }

  .aboutUsContent {
    padding: 4rem 2rem;
  }
}

@media (max-width: 440px) {
  .title {
    font-size: 2.7rem;
  }

  .aboutUsContent {
    padding: 4rem 1.5rem;
  }
}

@media (max-width: 415px) {
}

@media (max-width: 405px) {
}

@media (max-width: 395px) {
  .title {
    padding: 6rem 0rem 2rem 0rem;
  }

  .aboutUsContent {
    padding: 4rem 1rem;
  }
}

@media (max-width: 376px) {
  .title {
    font-size: 2.5rem;
    padding: 5.5rem 0rem 2rem 0rem;
  }

  .aboutUsContent {
    padding: 4rem 0.5rem;
  }
}

@media (max-width: 360px) {
}

@media (max-width: 325px) {
  .title {
    font-size: 2rem;
  }

  .aboutUsSubtitle,
  .divisionsSubtitle,
  .projectsSubtitle,
  .teamSubtitle {
    font-size: 1.5rem;
  }

  .divisionsDescription {
    font-size: 1.2rem;
  }
}

@media (max-width: 1200px) and (min-height: 1920px),
  (max-width: 1024px) and (min-height: 1366px) {
}

@media (max-width: 1200px) and (min-height: 1920px) {
}

@media (max-width: 1024px) and (min-height: 1366px) {
}
