.nav {
  background-color: var(--background);
  position: static;
  height: 10vh;
}

.nav2 {
  background-color: var(--background);
  position: static;
  height: 10vh;
}

.aboutUsContainer {
  gap: 1rem;
  background-color: var(--text);
}

.title {
  font-size: 6rem;
  font-weight: 800;
  text-transform: uppercase;
  padding: 6rem 10rem 2rem 10rem;
  background-color: var(--light-blue);
  color: var(--background);
}

.aboutUsContent {
  padding: 5rem 10rem 8rem 10rem;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.aboutUs,
.ourDivisions,
.ourTeam,
.ourProjects {
  transform: translateX(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  overflow-y: hidden;
}

.aboutUs h1,
.ourDivisions h1,
.ourTeam h1,
.ourProjects h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: lowercase;
  display: inline-block;
  margin-bottom: 3rem;
  padding-bottom: 0.5rem;
  text-transform: capitalize;
  border-bottom: 3px solid var(--background);
  color: var(--background);
}

.aboutUs p,
.ourDivisions p,
.ourTeam p,
.ourProjects p {
  margin-bottom: 1rem;
  color: var(--background);
}

.aboutUs.active,
.ourDivisions.active,
.ourTeam.active,
.ourProjects.active {
  display: block;
  opacity: 1;
  transform: translateX(0);
  color: var(--background);
}

.aboutUsSubtitle,
.divisionsSubtitle,
.projectsSubtitle,
.teamSubtitle {
  font-size: 3.5rem;
  font-weight: 900;
  margin-bottom: 2.5rem;
  color: var(--background);
}

.aboutUsSubtitle span,
.divisionsSubtitle span,
.projectsSubtitle span,
.teamSubtitle span {
  color: var(--light-blue);
}

.divisionsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 2rem 0;
  align-items: start;
}

.divisionsContainer div {
  background-color: rgb(213, 213, 213);
  padding: 1.5rem;
  border-radius: 1rem;
  color: var(--background);
  transition: all 0.3s ease;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.divisionsContainer div:hover {
  background-color: rgb(203, 203, 203);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.divisionsContainer div h3 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  color: var(--blue);
}

.teamContainer {
  display: flex;
  gap: 3rem;
}

.teamMember {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  width: 50%;
}

.teamMember h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--light-blue);
  line-height: 1;
}

.teamMember h4 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--background);
}

.teamMemberImage {
  width: 250px;
  height: 250px;
  border-radius: 1rem;
  overflow: hidden;
}

.teamMemberImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.teamMemberDescription {
  display: none;
}

.projectsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.project {
  background-color: rgb(213, 213, 213);
  padding: 1.5rem;
  border-radius: 1rem;
}
